.itemsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px 7px 15px;
  border: 1.5px solid rgb(225, 225, 225);
  border-radius: 30px;
}

.imageWrapper {
  position: relative;
  width: 95px;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.itemBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.itemMain {
  display: flex;
  flex-direction: column;
}

.itemTitle {
  margin: 0;
  font-size: 1rem;
}

.modifiers {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0;
  opacity: 0.8;
}

.changes {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0;
  font-size: clamp(0.75rem, 2.2vw, 0.85rem);
  line-height: 1.25;
}

.price {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 500;
}

.itemMeta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quantity {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  opacity: 0.8;
}
