.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.commentLabel {
  font-size: 18px;
  font-weight: bold;
}

.commentTextarea {
  margin-top: 10px;
  resize: none;
}

.actionsRow {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.addMoreButton {
  margin-left: 5px;
}

.confirmOrderButton {
  margin-right: 5px;
}
