.itemsList {
  display: flex;
  flex-direction: column;
}

.orderItem {
  padding: 8px 0 10px;
  border-top: 1px solid #ececec;
}

.orderItem:first-child {
  padding-top: 0;
  border-top: none;
}

.orderItem:last-child {
  padding-bottom: 0;
}

.orderItemRow {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 3px;
}

.itemTitle {
  display: flex;
  align-items: center;
  gap: 2px;
}

.itemPrice {
  white-space: nowrap;
}

.orderItemMeta {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0 3px 0;
  font-size: 0.9rem;
  opacity: 0.7;
}
