.slotPill {
  border: 2px solid #d0d0d0;
  border-radius: 999px;
  padding: 5px 10px;
  background-color: transparent;
  color: #d0d0d0;
}

.bookedSlotPill {
  background-color: pink;
  opacity: 0.5;
}

.selectedSlot {
  border: 2px solid rgb(250, 108, 6);
}
