.slotsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 0 0 10px;
}

.slotPill {
  border: 1.5px solid #d0d0d0;
  border-radius: 999px;
  padding: 5px 10px;
  font-size: 0.833rem;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: border-color 0.25s;
}

.selectedSlotPill {
  border: 1.5px solid rgb(249, 122, 32);
}
