.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  width: min(100%, 600px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer {
  margin-top: auto;
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
  letter-spacing: 0.3px;
  padding-bottom: 16px;
}
