.dateButton {
  padding: 5px 10px;
  border: 1.5px solid #d0d0d0;
  border-radius: 999px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: border 0.25s ease;
}

.selectedDateButton {
  border: 1.5px solid rgb(249, 122, 32);
}
