.confirmSlotButton {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  align-self: flex-end;
  margin: 15px 0;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-radius: 999px;
  background-color: rgb(250, 108, 6);
  color: white;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
